VITE_SUPABASE_URL=https://nugerdxawqqxpfjrtikh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im51Z2VyZHhhd3FxeHBmanJ0aWtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4NTkwMDcsImV4cCI6MjA1ODQzNTAwN30.sSFyTG_RZo2ojgcDnFBLtZ2uQN8pCsD5SHfW3e-1ojE 